{% load posts_tags %}

<div class="all_posts">
    {% for post in posts %}
        {% get_data_for_post post.pk data_for_post as post_data %}
        <div class="post_cell">
            <div class="post_info">
                <div class="title_and_text">
                    <div class="title_block">
                        <div class="edit_delete_buttons">
                            {% if post_data.is_admin %}
                            <div class="del_but">
                                <a href="{% url 'delete_post' post.pk 'owner_post' %}">
                                <img src="/static/pet_owners/images/button_delete.png" width="20">
                                </a>
                            </div>
                            <div class="edit_but">
                                <a href="{% url 'edit_owner_post' post.pk %}">
                                <img src="/static/pet_owners/images/button_edit.png" width="20">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="post_title">
                            {{post.title}}
                        </div>
                    </div>
                    <a href="{% url 'post' post.pk 'owner_post' %}"><div class="post_text">
                        {{post.text_of_post|truncatewords:35}}
                    </div></a>
                    <div class="post_datetime">
                        {{post.date_create}}
                    </div>
                </div>
                <div class="imgs_in_post">
                    <img src="{{post_data.img.img.url}}" width=160>
                </div>
            </div>
            <div class="post_parameters">
                {% show_likes_and_views post post_data name_page_for_likes object_id %}
                <div class="post_comments">
                    <a href="{% url 'post' post.pk 'owner_post' %}">
                        комментарии...({{post_data.comments_count}})
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>