{% extends 'pet_owners/base.html' %}
{% load pet_owners_tags %}

{% block content %}

{% get_data_for_post post.title data_for_post as post_data %}
<table border=0 cellpadding="0" cellspacing="0" class="post_table">
<!-- блок информации о посте -->
<tr class="post_title_detail">
    <td>{{post.title}}</td>
<tr class="post_text_detail">
    <td>{{post.text_of_post}}</td>
<tr class="post_datetime_detail">
    <td>{{post.date_create}}</td>
{% if post_data.img|length > 0 %}
    <tr class="imgs_in_post_detail">
        <td>
        {% for img in post_data.img %}
            <div class="imgs_in_post_detail">
                <a href="{{img.img.url}}">
                    <img src="{{img.img.url}}" width=250>
                </a>
            </div>
        {% endfor %}
        </td>
    </tr>
{% endif %}
<tr class="likes_views_post_detail">
    <td>
        {% show_likes_and_views post post_data name_page_for_likes %}
    </td>
<tr class="post_autor_detail">
    <td>Автор: {{post.autor}}</td>
</table>

<div class="comments_title"><h4>Комментарии:</h4></div>
<div class="create_comment_zone">
    <div class="create_comment_button">
        <a href="{% url 'add_comment' post.pk %}">Добавить комментарий</a>
    </div>
</div>
<div class="all_comments">
    {% for comm in comments %}
        <div class="some_comment">
            <div class="author_info">
                <a href="{{ comm.author.get_absolute_url }}">
                    <div class="author_avatar">
                        <img src="{{comm.author.avatar.url}}" height=120>
                    </div>
                    <div>{{comm.author.username}}</div>
                </a>
            </div>
            <div class="comment_info">
                <div class="comment_text">
                    {{comm.comment}}
                </div>
                <div class="comment_extra_data">
                    <div class="date_of_comment">
                        {{comm.date_create}}
                    </div>
                    <div class="likes_of_comment">
                        Л
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}