{% extends 'pet_owners/base.html' %}
{% load pet_owners_tags %}

{% block content %}

<div class="form_block">
    <h1>{{title}}</h1>

    <form method="post">
        {% show_form_fields form %}
        <button class="form_button" type="submit" name="cancel">
            Отменить
        </button>
        <button class="form_button" type="submit" name="update_without_photos">
            Сохранить
        </button>
        <button class="form_button" type="submit" name="update_with_photos">
            Сохранить и изменить фото
        </button>
    </form>
</div>

{% endblock %}