{% extends 'pet_owners/base.html' %}
{% load pet_owners_tags %}

{% block content %}

<table border=0 cellpadding="0" cellspacing="0">
<!-- блок информации о владельце страницы -->
<tr class="user_info">
    <td>
        <table>
        <tr>
            <!-- аватарка владельца страницы -->
            <td class="avatar_zone">
                {% if profile.avatar %}
                    <img src="{{profile.avatar.url}}" width=180>
                {% else %}
                    <img src="/static/pet_owners/images/no_photo.jpg" width=180>
                {% endif %}
            </td>
            <!-- информация о владельце страницы, которую он себе прописывал -->
            <td class="about_user_zone">
                <table class="about_user">
                <tr class="username"><td><p>{{profile.username}}</p></td></tr>
                <tr class="user_bio"><td><p>{{profile.about_myself}}</p></td></tr>
                <!-- показывает количество подписок у владельца страницы -->
                <tr class="subs_of_user"><td>
                    <a href="{% url 'owner_subscriptions' profile.pk %}">
                        <span>Подписки: </span>{{num_of_subs}}
                    </a>
                </td></tr>
                </table>
            </td>
        </tr>
        </table>
    </td>
</tr>
<!-- блок информации о питомцах владельца страницы -->
<tr class="animals_info">
    <td width="1350">
        {% if num_of_animals %} <!-- проверка на то, имеются ли питомцы у владельца страницы -->
            <table cellpadding="0" cellspacing="7">
            <tr>
            <!-- проходим циклом по питомцам и загружаем на страницу -->
            {% for animal in animals %}
                <!-- через тег загружаем данные о подписчиках из словаря -->
                {% create_foll_list animal.name_of_animal user_animals_followed as foll_list %}
                <!-- показываем "ячейку" с данными для каждого питомца -->
                <td class="animal_cell">
                    <table cellpadding="0" cellspacing="0">
                        <tr><td>
                            <!-- загружаем аватарку и прописываем "параметры" питомца -->
                            <table class="avatar_and_parameters"><tr>
                                <td valign="middle" class="animal_avatar">
                                    <img src="{{animal.animal_photo.url}}" width=130>
                                </td>
                                <td valign="middle">
                                    <div>{{animal.name_of_animal}}</div>
                                    <div>{{animal.category_of_animal}}</div>
                                    <div>{{animal.animal_breed}}</div>
                                    {% if animal.date_of_animal_birth %}
                                        <div>{{animal.date_of_animal_birth}}</div>
                                    {% endif %}
                                    <!-- показываем кол-во подписчиков питомца -->
                                    <div class="subs_of_user">
                                        <a href="{% url 'animal_followers' animal.pk %}">
                                            <span>Подписчики: </span>{{foll_list.count_folls}}
                                        </a>
                                    </div>
                                </td>
                            </tr></table>
                        </td></tr>
                        <!-- показываем биографию питомца -->
                        <tr><td class="about_animal">
                            {{animal.about_pet|truncatewords:50}}
                        </td></tr>
                        <!-- проверяем не является ли залогиненный пользователь владельцем питомца
                         и подписан ли он на него-->
                        {% if request.user.id != profile.pk and foll_list.is_followed %}
                            <tr><td>
                                <div class="unfollow_animal">
                                    <a href="{{animal.change_follower}}">Отписаться</a>
                                </div>
                            </td></tr>
                        {% elif request.user.id != profile.pk %}
                            <tr><td>
                                <div class="follow_animal">
                                    <a href="{{animal.change_follower}}">Подписаться</a>
                                </div>
                            </td></tr>
                        {% endif %}
                        <tr><td>
                            <!-- добавляем кнопку для выбора питомца, о котором будут посты ниже в ленте -->
                            <div class="select_button">
                                <a href="{% url 'animal_posts' animal.pk %}">Посмотреть ленту</a>
                            </div>
                        </td></tr>
                    </table>
                </td>
            {% endfor %}
            {% if num_of_animals > 4 and all_animals == False %}
                <!-- если питомцев больше 4-х то добавляем возможность посмотреть всех -->
                <td class="other_animals">
                    <a href="{{profile.get_absolute_url_with_all_animals}}">Загрузить всех</a>
                </td>
            {% endif %}
            </tr>
            </table>
        {% else %}
            <!-- если у владельца страницы нет питомцев, показываем инфу об этом -->
            <div class="if_no_animals">
                <h1>У пользователя нет добавленных питомцев</h1>
                {% if request.user.id == profile.pk %}
                    <a href="{% url 'create_animal' %}">добавьте своего питомца :)</a>
                {% endif %}
            </div>
        {% endif %}
    </td>
</tr>
<!-- блок ленты с постами -->
<tr class="news_feed">
    <td>
        <!-- если владелец страницы - это аутентифицированный пользователь,
         добавляем кнопку создания поста-->
        {% if request.user.id == profile.pk and num_of_animals %}
            <div class="create_post_zone">
                <div class="create_post_button">
                    <a href="{% url 'create_post' %}">Добавить новый пост</a>
                </div>
            </div>
        {% endif %}
        {% show_all_posts all_posts data_for_post %}
    </td>
</tr>
</table>

{% endblock %}