{% extends 'pet_owners/base.html' %}
{% load pet_owners_tags %}

{% block content %}

<div class="an_posts_block">
    <div class="an_posts_title">
        <div class="an_posts_title_txt">
            <h1>Посты питомца {{animal.name_of_animal}}</h1>
        </div>
        <div class="an_posts_avatar">
            <img src="{{animal.animal_photo.url}}" height=120>
        </div>
    </div>
    {% if posts %}
        {% show_all_posts posts data_for_post name_page_for_likes %}
    {% else %}
        <h2>Про питомца нет постов</h2>
        {% if animal.pet_owner == request.user %}
            <div class="create_post_zone">
                <div class="create_post_button">
                    <a href="{% url 'create_post' %}">Добавьте пост</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}