html, body {
	font-family: 'Georgia';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #000000;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.left-chapters {
	margin: 0;
	background: rgba(140, 255, 255, 0.7);
	border-right: 1px solid #ccc;
	min-height: 100%;
}

.left-chapters ul {
	width: 300px;
	min-height: 100%;
	margin: 0;
	padding: 7px 0 7px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
    text-align: center;
	margin-left: 20px;
	padding: 20px 0 20px 0;
	color: #999;
	border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.left-chapters ul li a {
	color: #444;
	text-decoration: none;
	transition: color .2s linear;
}
.left-chapters ul li a:hover {
    display: block;
    height: 100%;
    width: 100%;
    color: #706900;
}

.right-chapters {
	margin: 0;
	background: #209999;
	border-left: 1px solid #ccc;
	min-height: 100%;
}

.right-chapters ul {
	width: 60px;
	min-height: 100%;
	margin: 0;
	padding: 20px 0 10px 20px;
	list-style: none;
	font-size: 20px;
}
.right-chapters ul li {
    text-align: center;
	margin: 10px 0 0 20px;
	padding: 30px 0 20px 0;
	color: #999;
	border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.right-chapters ul li a {
	color: #444;
	text-decoration: none;
}

.settings_button { text-align: center; }
.logout_button { text-align: center; }

.content {
    background: #27234621;
	padding: 10px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.content-text {
    height: 100%;
	font-size: 19px;
	background: #e3e8e8;
	font-family: Yandex Sans Display Light;
}

.profile_table { table-layout: fixed; }

.avatar_zone {
    width: 70px;
}

.about_user {
    margin: 5px 0 0 140px;
    width: 800px;
}
.about_user span {font-weight: bold;}
.username {
    font-size: 23px;
    font-weight: bold;
}
.user_bio { font-style: italic; }

.subs_of_user a {
    color: #095c5c;
    text-decoration: none;
}
.subs_of_user a:hover { color: #706900; }

.animals_info {
    text-align: center;
}

.animal_cell {
    font-size: 15px;
    background: rgba(128, 217, 217, 0.4);
    width: 280px;
    border-left: 7px solid #27234621;
    border-right: 7px solid #27234621;
    border-radius: 25px 25px 0 0;
}

.avatar_and_parameters {
    height: 160px;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}
.animal_avatar img {
    object-fit: cover;
    height: 130px;
}
.about_animal {
    height: 160px;
}

.follow_animal {
    background: rgba(5, 230, 20, 0.8);
    text-align: center;
    vertical-align: middle;
    height: 35px;
}
.unfollow_animal {
    background: rgba(121, 171, 118, 0.8);
    text-align: center;
    vertical-align: middle;
    height: 35px;
}
.follow_animal a, .unfollow_animal a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    color: #ffffff;
    text-decoration: none;
    transition: all .2s linear;
}
.follow_animal a:hover {
    background: rgba(107, 95, 217, 0.2);
    color: #e2e60b;
}
.unfollow_animal a:hover {
    background: rgba(107, 95, 217, 0.2);
    color: #e2e60b;
}
.select_button {
    background: rgba(26, 0, 255, 0.4);
    text-align: center;
    vertical-align: middle;
    height: 35px;
}
.select_button a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    color: #ffffff;
    text-decoration: none;
}
.select_button a:hover {
    background: rgba(107, 95, 217, 0.2);
    color: #e2e60b;
}

.other_animals a {
    color: #095c5c;
    text-decoration: none;
}
.other_animals a:hover { color: #706900; }

.if_no_animals {
    width: 100%;
    text-align: center;
}
.if_no_animals h1 { font-size: 30px; }
.if_no_animals a {
    color: #095c5c;
    text-decoration: none;
}
.if_no_animals a:hover { color: #706900; }

.news_feed {
    width: 100%;
    background: #dce0e0;
}

.create_post_zone {
    text-align: center;
    width: 100%;
    margin-top: 35px;
}
.create_post_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 300px;
}
.create_post_button a {
    display: block;
    background: rgba(26, 0, 255, 0.6);
    height: 100%;
    width: 100%;
    line-height: 48px;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
    border: 2px solid #1ca3a3;
    border-radius: 25px;
}
.create_post_button a:hover {
    background: #9b8af2;
    color: #706900;
}

.all_posts {
    margin: 30px 0 0 292px;
    text-align: center;
}

.post_cell {
    width: 800px;
    height: 300px;
    background: #95c2c2;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    border: 3px solid rgba(120, 161, 161, 0.7);
}
.post_cell a {
    color: #000000;
    text-decoration: none;
}
.post_info {
    width: 100%;
    height: 85%;
    background: rgba(124, 173, 217, 0.4);
    border-radius: 15px 15px 0 0;
    font-size: 0;
}
.title_and_text {
    display: inline-block;
    width: 75%;
    height: 100%;
    font-size: 20px;
}
.title_block {
    height: 20%;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 1px solid rgba(120, 161, 161, 0.7);
}
.edit_delete_buttons {
    display: inline-block;
    width: 20%;
    height: 50%;
    text-align: left;
}
.edit_but, .del_but {display: inline-block;}
.edit_but a, .del_but a {
    display: block;
    height: 50%;
    width: 100%;
}
.del_but a:hover, .edit_but a:hover {
    background: rgba(124, 173, 217, 0.8);
}

.post_title {
    display: inline-block;
    width: 78%;
    height: 100%;
}
.post_text {
    width: 100%;
    height: 63%;
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
    border-bottom: 1px solid rgba(120, 161, 161, 0.7);
}
.post_datetime {
    width: 100%;
    height: 10%;
    font-size: 15px;
    text-align: left;
}
.imgs_in_post {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
}
.post_parameters { text-align: center; font-size: 0;}
.post_likes {
    display: inline-block;
    width: 10%;
    height: 100%;
    font-size: 0;

}
.post_views {
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
    margin-left: 50px;
    padding-top: 5px;
    font-size: 0;
}
.img_like, .img_view {
    display: inline-block;
    width: 60%;
    height: 100%;
}
.like_count, .view_count {
    display: inline-block;
    width: 20%;
    height: 100%;
    vertical-align: top;
    font-size: 19px;
}
.post_comments {
    display: inline-block;
    width: 67%;
    height: 100%;
    vertical-align: top;
    font-size: 19px;
    text-align: right;
    padding: 7px 15px 0 0;
}
.post_comments a {
    color: #00284d;
    text-decoration: none;
}
.post_comments a:hover { color: #706900; }

.post_table {
    width: 100%;
    text-align: center;
}
.post_title_detail td {
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.post_text_detail td {
    font-size: 20px;
    font-style: italic;
    height: 70px;
}
.post_datetime_detail td, .post_autor_detail td {
    text-align: left;
    font-size: 16px;
    height: 50px;
    border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.imgs_in_post_detail {
    display: inline-block;
    padding: 30px 0 30px 0;
    vertical-align: middle;
}
.likes_views_post_detail { text-align: left; }

.form_block {
    width: 100%;
    text-align: center;
}

.form-input {
    width: 300px;
    font-size: 16px;
}
.form-label {
    display: inline-block;
    text-align: left;
    min-width: 220px;
    vertical-align: top;
}
.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
.form_button {
    min-width: 200px;
    font-size: 16px;
}