html, body {
	font-family: 'Georgia';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #000000;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.left-chapters {
	margin: 0;
	background: rgba(140, 255, 255, 0.7);
	border-right: 1px solid #ccc;
	min-height: 100%;
}

.left-chapters ul {
	width: 300px;
	min-height: 100%;
	margin: 0;
	padding: 7px 0 7px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
    text-align: center;
	margin-left: 20px;
	padding: 20px 0 20px 0;
	color: #999;
	border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.left-chapters ul li a {
	color: #444;
	text-decoration: none;
	transition: color .2s linear;
}
.left-chapters ul li a:hover {
    display: block;
    height: 100%;
    width: 100%;
    color: #706900;
}

.right-chapters {
	margin: 0;
	background: #209999;
	border-left: 1px solid #ccc;
	min-height: 100%;
}

.right-chapters ul {
	width: 60px;
	min-height: 100%;
	margin: 0;
	padding: 20px 0 10px 20px;
	list-style: none;
	font-size: 20px;
}
.right-chapters ul li {
    text-align: center;
	margin: 10px 0 0 20px;
	padding: 30px 0 20px 0;
	color: #999;
	border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.right-chapters ul li a {
	color: #444;
	text-decoration: none;
}

.settings_button, .logout_button, .right_sub_button { text-align: center; }
.settings_button a, .logout_button a, .right_sub_button a {
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s linear;
}
.settings_button a:hover, .logout_button a:hover { background: #209980; }
.right_sub_button .sub_avatar { border: 3px solid rgba(126, 117, 255, 0.8); }

.content {
    background: #27234621;
	padding: 10px 20px 20px 40px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.content-text {
    height: 100%;
	font-size: 19px;
	background: #e3e8e8;
	font-family: Yandex Sans Display Light;
}

.avatar_zone {
    width: 70px;
}

.about_user {
    margin: 5px 0 0 140px;
    width: 800px;
}
.about_user span {font-weight: bold;}
.username {
    font-size: 23px;
    font-weight: bold;
}
.extra_data {
    font-size: 17px;
    font-style: italic;
    height: 80%;
}
.user_bio { font-style: italic; }

.subs_of_user a, .foll_name a, .member_name a {
    color: #095c5c;
    text-decoration: none;
}
.subs_of_user a:hover, .foll_name a:hover, .member_name a:hover { color: #706900; }

.animals_info {
    text-align: center;
}

.subs_block, .an_posts_block, .foll_block {
    text-align: center;
}
.subs_cells, .foll_cells {
    width: 100%;
    text-align: center;
}
.subs_cell {
    background: rgba(26, 196, 162, 0.2);
    width: 700px;
    height: 140px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 7px 0 7px 0;
    border: 3px solid rgba(26, 196, 162, 0.5);
    border-radius: 25px;
}
.sub_avatar, .foll_avatar, .author_avatar, .mem_cell_avatar {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-height: 120px;
    max-width: 120px;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.sub_info {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}
.sub_buttons, .foll_name {
    display: inline-block;
    vertical-align: middle;
}

.foll_cell {
    background: rgba(26, 196, 196, 0.2);
    width: 400px;
    height: 140px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 7px 0 7px 0;
    border: 3px solid rgba(168, 62, 230, 0.5);
    border-radius: 25px;
}

.animal_cell {
    font-size: 15px;
    background: rgba(128, 217, 217, 0.4);
    width: 280px;
    border-left: 7px solid #27234621;
    border-right: 7px solid #27234621;
    border-radius: 25px 25px 0 0;
}

.avatar_and_parameters {
    height: 160px;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}
.animal_avatar img {
    object-fit: cover;
    height: 130px;
}
.about_animal, about_animal_zone {
    height: 160px;
}

.follow_animal, .follow_group {
    background: rgba(5, 230, 20, 0.8);
    text-align: center;
    vertical-align: middle;
    height: 35px;
}
.unfollow_animal, .unfollow_group {
    background: rgba(121, 171, 118, 0.8);
    text-align: center;
    vertical-align: middle;
    height: 35px;
}
.follow_animal a, .unfollow_animal a, .follow_group a, .unfollow_group a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    color: #ffffff;
    text-decoration: none;
    transition: all .2s linear;
}
.follow_animal a:hover, .follow_group a:hover {
    background: rgba(107, 95, 217, 0.2);
    color: #e2e60b;
}
.unfollow_animal a:hover, .unfollow_group a:hover {
    background: rgba(107, 95, 217, 0.2);
    color: #e2e60b;
}
.select_button {
    background: rgba(26, 0, 255, 0.4);
    text-align: center;
    height: 35px;
}
.select_button a {
    display: block;
    height: 100%;
    width: 280px;
    line-height: 35px;
    color: #ffffff;
    text-decoration: none;
}
.select_button a:hover {
    background: rgba(107, 95, 217, 0.2);
    color: #e2e60b;
}

.other_animals a, .add_new_pet a {
    color: #095c5c;
    text-decoration: none;
}
.other_animals a:hover, .add_new_pet a:hover { color: #706900; }

.if_no_animals {
    width: 100%;
    text-align: center;
}
.if_no_animals h1 { font-size: 30px; }
.if_no_animals a {
    color: #095c5c;
    text-decoration: none;
}
.if_no_animals a:hover { color: #706900; }

.news_feed {
    width: 100%;
    background: #dce0e0;
}

.create_post_zone, .create_comment_zone {
    text-align: center;
    width: 100%;
    margin-top: 35px;
}
.create_post_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 300px;
}
.create_post_button a {
    display: block;
    background: rgba(26, 0, 255, 0.6);
    height: 100%;
    width: 100%;
    line-height: 48px;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
    border: 2px solid #1ca3a3;
    border-radius: 25px;
}
.create_post_button a:hover {
    background: #9b8af2;
    color: #706900;
}
.comments_title { text-align: center; }
.create_comment_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    width: 250px;
}
.create_comment_button a {
    display: block;
    background: rgba(31, 0, 115, 0.6);
    height: 100%;
    width: 100%;
    line-height: 45px;
    color: #f2f2f2;
    font-style: italic;
    text-decoration: none;
    border: 2px solid #1ca3a3;
    border-radius: 20px;
}
.create_comment_button a:hover {
    background: #006a75;
    color: #c7c7c7;
}

.all_posts {
    margin: 30px 0 0 292px;
    text-align: center;
}

.post_cell {
    width: 800px;
    height: 300px;
    background: #95c2c2;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    border: 3px solid rgba(120, 161, 161, 0.7);
}
.post_cell a {
    color: #000000;
    text-decoration: none;
}
.post_info {
    width: 100%;
    height: 85%;
    background: rgba(124, 173, 217, 0.4);
    border-radius: 15px 15px 0 0;
    font-size: 0;
}
.title_and_text {
    display: inline-block;
    width: 75%;
    height: 100%;
    font-size: 20px;
}
.title_block {
    height: 20%;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 1px solid rgba(120, 161, 161, 0.7);
}
.edit_delete_buttons {
    display: inline-block;
    width: 20%;
    height: 50%;
    text-align: left;
}
.edit_but, .del_but {display: inline-block;}
.edit_but a, .del_but a {
    display: block;
    height: 22px;
    width: 100%;
}
.del_but a:hover, .edit_but a:hover {
    background: rgba(124, 173, 217, 0.8);
}

.post_title {
    display: inline-block;
    width: 78%;
    height: 100%;
}
.post_text {
    width: 100%;
    height: 63%;
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
    border-bottom: 1px solid rgba(120, 161, 161, 0.7);
}
.post_datetime {
    width: 100%;
    height: 10%;
    font-size: 15px;
    text-align: left;
}
.imgs_in_post {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
}
.post_parameters { text-align: center; font-size: 0;}
.post_likes {
    display: inline-block;
    width: 10%;
    max-width: 80px;
    height: 100%;
    font-size: 0;

}
.post_views {
    display: inline-block;
    width: 10%;
    max-width: 80px;
    height: 100%;
    vertical-align: top;
    margin-left: 50px;
    padding-top: 5px;
    font-size: 0;
}
.img_like, .img_view {
    display: inline-block;
    width: 60%;
    height: 100%;
}
.like_count, .view_count {
    display: inline-block;
    width: 20%;
    height: 100%;
    vertical-align: top;
    font-size: 19px;
}
.post_comments {
    display: inline-block;
    width: 67%;
    height: 100%;
    vertical-align: top;
    font-size: 19px;
    text-align: right;
    padding: 7px 15px 0 0;
}
.post_comments a {
    color: #00284d;
    text-decoration: none;
}
.post_comments a:hover { color: #706900; }

.post_table {
    width: 100%;
    text-align: center;
}
.post_title_detail td {
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.post_text_detail td {
    font-size: 20px;
    font-style: italic;
    height: 70px;
}
.post_datetime_detail td, .post_autor_detail td {
    text-align: left;
    font-size: 16px;
    height: 50px;
    border-bottom: 1px solid rgba(126, 117, 255, 0.4);
}
.imgs_in_post_detail {
    display: inline-block;
    padding: 30px 0 30px 0;
    vertical-align: middle;
}
.but_for_delete_img {
    display: inline-block;
    text-align: center;
}
.but_for_delete_img a {
    display: block;
    height: 35px;
    width: 30px;
}
.but_for_delete_img a:hover {
    background: rgba(124, 173, 217, 0.4);
}
.likes_views_post_detail { text-align: left; }

.form_block, .form_block_set {
    width: 100%;
    height: 100%;
    text-align: center;
}

.form-input {
    width: 300px;
    font-size: 16px;
}
.form-label {
    display: inline-block;
    text-align: left;
    min-width: 275px;
    vertical-align: top;
}
.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
.form_button {
    min-width: 200px;
    font-size: 16px;
}

.an_posts_title {
    text-align: center;
    width: 100%;
    margin-bottom: 70px;
}
.an_posts_title_txt, .an_posts_avatar {
    display: inline-block;
    vertical-align: top;
}

.settings_page {
    display: block;
    width: 100%;
    height: 100%;
    overflow: clip;
    background: #a1a1a1;
}
.selecting_settings {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.setting_el, .setting_el_active {
    display: inline-block;
    width: 300px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
    margin: 0 12px 0 12px;
}
.setting_el_active {
    background: #bdbdbd;
}
.setting_el a, .setting_el_active a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    color: #000000;
}
.setting_el a:hover, .setting_el_active a:hover {
    color: #706900;
}
.form_block_set {
    background: #bdbdbd;
    padding: 30px 0 30px 0;
}

.all_comments {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.some_comment {
    background: rgba(0, 96, 130, 0.5);
    width: 850px;
    min-height: 150px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 7px 0 7px 0;
    border: 3px solid #005ca1;
    border-radius: 20px;
}
.author_info {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    margin: 5px 0 5px 0;
    border-right: 1px solid #00255c;
}
.author_info a {
    color: #043333;
    text-decoration: none;
}
.author_info a:hover { color: #706900; }
.comment_info {
    display: inline-block;
    width: 77%;
    height: 100%;
    text-align: left;
}
.comment_text {
    min-height: 110px;
    font-style: italic;
    border-bottom: 1px solid #00255c;
}
.comment_extra_data{
    height: 30px;
}
.date_of_comment {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    font-size: 16px;
}
.likes_of_comment {
    display: inline-block;
}
.edit_delete_buttons_comm {
    display: inline-block;
    width: 100%;
    height: 5px;
    text-align: right;
}

.my_groups_block {
    width: 100%;
    text-align: center;
}
.about_groups {
    display: inline-block;
    margin: 20px 0 20px 0;
    width: 65%;
}
.no_groups {
    margin-top: 80px;
    font-style: italic;
}
.no_groups a {
    font-style: italic;
    font-size: 20px;
}
.no_groups a {
    color: #095c5c;
    text-decoration: none;
}
.no_groups a:hover { color: #706900; }
.group_cell {
    background: rgba(144, 176, 176, 0.5);
    width: 65%;
    height: 160px;
    display: inline-block;
    text-align: center;
    margin: 7px 0 7px 0;
    border: 1px solid #878c8c;
    border-radius: 15px;
}
.group_logo_block {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 146px;
    margin: 7px 0 7px 0;
    border-right: 1px solid #00255c;
}
.group_logo_block img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.group_link {color: #000000;}
.group_name_txt {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 48%;
    height: 100%;
}
.group_name {
    height: 30%;
    line-height: 40px;
    font-weight: bold;
}
.about_group {
    min-height: 65%;
    font-style: italic;
}
.group_extra_data {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    line-height: 30px;
    width: 25%;
}

.group_block {
    text-align: center;
    width: 100%;
}
.group_title {
    display: inline-block;
    width: 90%;
    border-bottom: 2px solid rgba(5, 161, 161, 0.3);
}
.group_info {
    display: inline-block;
    width: 90%;
    font-style: italic;
    border-bottom: 2px solid rgba(5, 161, 161, 0.3);
}
.all_about_group_block {
    display: inline-block;
    width: 60%;
    text-align: left;
}
.all_about_group {
    display: inline-block;
    width: 50%;
}
.group_members_block {
    display: inline-block;
    background: rgba(0, 24, 110, 0.2);
    width: 20%;
}
.group_members, .nine_members {
    width: 100%;
    height: 85%;
    padding: 3px 0 10px 0;
}
.nine_members {background: rgba(0, 24, 110, 0.1);}
.mem_cell {
    display: inline-block;
    width: 30%;
    height: 70px;
}

.gp_st_title {
    display: block;
    width: 100%;
    text-align: center;
}
.gp_st_title a {
    text-decoration: none;
    color: #095c5c;
}
.gp_st_title a:hover {color: #706900;}
.group_settings_zone {
    text-align: center;
    width: 100%;
    margin: 15px 0 15px 0;
}
.group_settings_btn {
    display: inline-block;
    text-align: center;
    height: 35px;
    width: 230px;
}
.group_settings_btn a {
    display: block;
    background: rgba(2, 54, 125, 0.8);
    height: 100%;
    width: 100%;
    line-height: 35px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #1ca3a3;
    border-radius: 15px;
}
.group_settings_btn a:hover {background: rgba(0, 24, 92, 0.8);}
.group_posts_block { background: #dce0e0; }

.members_row {
    background: rgba(181, 181, 181, 0.8);
    margin: 0 0 10px 15px;
}
.mem_avatar_zone {
    display: inline-block;
    width: 150px;
}
.member_name, .mem_status_zone {
    display: inline-block;
    width: 200px;
}
.mem_status_zone {width: 300px;}
.mem_status_btn {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 280px;
    font-size: 17px;
}
.mem_status_btn a {
    display: block;
    background: rgba(2, 54, 125, 0.8);
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #1ca3a3;
    border-radius: 12px;
}
.mem_status_btn a:hover {background: rgba(0, 24, 92, 0.8);}