{% extends 'pet_owners/base.html' %}
{% load pet_owners_tags %}

{% block content %}
<div class="group_block">
    {% create_foll_list group.name_of_group user_groups_followed as foll_list %}
    <div class="group_title"><h1>{{group.name_of_group}}</h1><img src="{{group.img_of_group.url}}" width=300></div>
    <div class="group_info">
        <div class="all_about_group_block">
            <div class="all_about_group">{{group.about_group}}</div>
        </div>
        <div class="group_members_block">
            <div class="group_members">
                <div class="nine_members">
                    {% create_range 0 9 as range %}
                    {% for cntr in range %}
                        {% get_object_on_index members cntr as mem %}
                        {% if mem %}
                            <div class="mem_cell">
                                <a href="{{ mem.get_absolute_url }}">
                                    <div class="mem_cell_avatar">
                                        <img src="{{mem.avatar.url}}" height=60>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="subs_of_user">
                    <a href="{% url 'group_members' group.pk %}">
                        Подписчики: {{foll_list.count_folls}}
                    </a>
                </div>
            </div>
            {% if foll_list.is_followed %}
                <!-- если аутентифицированный пользователь - это владелец группы,
                 добавляем кнопку управления группой-->
                {% if foll_list.is_admin %}
                    <div class="group_settings_zone">
                        <div class="group_settings_btn">
                            <a href="{% url 'group_settings' group.pk %}">Управление группой</a>
                        </div>
                    </div>
                {% else %}
                <div class="unfollow_group">
                    <a href="{% url 'change_follower_for_group' group.pk %}">Отписаться</a>
                </div>
                {% endif %}
            {% else %}
                <div class="follow_group">
                    <a href="{% url 'change_follower_for_group' group.pk %}">Подписаться</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="group_posts_block">
        <!-- если аутентифицированный пользователь - это владелец группы,
         добавляем кнопку создания поста-->
        {% if foll_list.is_admin %}
            <div class="create_post_zone">
                <div class="create_post_button">
                    <a href="{% url 'create_group_post' group.pk %}">Добавить новый пост</a>
                </div>
            </div>
        {% endif %}
        <div class="all_posts">
            {% for post in all_posts %}
                {% get_data_for_post post.title data_for_post as post_data %}
                <div class="post_cell">
                    <div class="post_info">
                        <div class="title_and_text">
                            <div class="title_block">
                                <div class="edit_delete_buttons">
                                    {% if post_data.is_admin %}
                                    <div class="del_but">
                                        <a href="{% url 'delete_group_post' group.pk post.pk %}">
                                        <img src="/static/pet_owners/images/button_delete.png" width="20">
                                        </a>
                                    </div>
                                    <div class="edit_but">
                                        <a href="{% url 'edit_group_post' group.pk post.pk %}">
                                        <img src="/static/pet_owners/images/button_edit.png" width="20">
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="post_title">
                                    {{post.title}}
                                </div>
                            </div>
                            <a href="{% url 'group_post' group.pk post.pk %}"><div class="post_text">
                                {{post.text_of_post|truncatewords:35}}
                            </div></a>
                            <div class="post_datetime">
                                {{post.date_create}}
                            </div>
                        </div>
                        <div class="imgs_in_post">
                            <img src="{{post_data.img.img.url}}" width=160>
                        </div>
                    </div>
                    <div class="post_parameters">
                        {% show_likes_and_views post post_data 'group_posts' group.pk %}
                        <div class="post_comments">
                            <a href="{% url 'group_post' group.pk post.pk %}">
                                комментарии...({{post_data.comments_count}})
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}