{% extends 'pet_owners/base.html' %}
{% load pet_owners_tags %}

{% block content %}

<div class="my_groups_block">
    <h1>{{title}}</h1>
    {% if groups %}
        <div class="all_groups">
            {% for group in groups %}
                {% create_foll_list group.name_of_group user_groups_followed as foll_list %}
                <div class="group_cell">
                    <div class="group_logo_block">
                        <img src="{{group.img_of_group.url}}" width=180>
                    </div>
                    <a href="{% url 'show_group' group.pk %}" class="group_link">
                        <div class="group_name_txt">
                            <div class="group_name">{{group.name_of_group}}</div>
                            <div class="about_group">{{group.about_group|truncatewords:35}}</div>
                        </div>
                    </a>
                    <div class="group_extra_data">
                        <div class="subs_of_user">
                            <a href="{% url 'group_members' group.pk %}">
                                Подписчики: {{foll_list.count_folls}}
                            </a>
                        </div>
                        <div class="group_follow_btn">
                                {% if foll_list.is_followed %}
                                    {% if foll_list.is_admin %}
                                        Вы администратор
                                    {% else %}
                                    <div class="unfollow_group">
                                        <a href="{% url 'change_follower_for_group' group.pk %}">Отписаться</a>
                                    </div>
                                    {% endif %}
                                {% else %}
                                    <div class="follow_group">
                                        <a href="{% url 'change_follower_for_group' group.pk %}">Подписаться</a>
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="create_grp_zone">
            <div class="create_grp_btn">
                <a href="{% url 'create_group' %}">Создать группу</a>
            </div>
        </div>
    {% else %}
        <div class="no_groups">
            <h2>Вы пока не подписаны не на одну из групп</h2>
            <div class="about_groups">
                Группы позволяют Вам состоять в сообществах, интересы которых схожи с вашими.
                Тематики групп разнообразны, от любимых пород питомцев и того как за ними ухаживать,
                до групп с мемами и новостями из мира домашних животных :)
            </div>
            <div><a href="#">Найдите</a> для себя подходящую группу</div>
            <div>Или <a href="{% url 'create_group' %}">создайте</a>  свою!</div>
        </div>
    {% endif %}
</div>

{% endblock %}