{% extends 'pet_owners/base.html' %}

{% block content %}

<div class="my_groups_block">
    <h1>{{title}}</h1>
    {% if groups %}
        <div class="all_groups">
            {% for group in groups %}
                <div class="group_cell">
                    <div class="group_logo">
                        <img src="{{group.img_of_group.url}}" width=240>
                    </div>
                    <div class="group_name_txt">
                        <div class="group_name">{{group.name_of_group}}</div>
                        <div class="about_group">{{group.about_group}}</div>
                    </div>
                    <div class="group_extra_data"></div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no_groups">
            <h2>Вы пока не подписаны не на одну из групп</h2>
            <div class="about_groups">
                Группы позволяют Вам состоять в сообществах, интересы которых схожи с вашими.
                Тематики групп разнообразны, от любимых пород питомцев и того как за ними ухаживать,
                до групп с мемами и новостями из мира домашних животных :)
            </div>
            <div><a href="#">Найдите</a> для себя подходящую группу</div>
            <div>Или <a href="{% url 'create_group' %}">создайте</a>  свою!</div>
        </div>
    {% endif %}
</div>

{% endblock %}